<div class="jumbotron mt-4">
    <h1 class="display-4">Appointment</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nihil sit tenetur
         repellat exercitationem! Consequuntur, consequatur illo.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id placeat soluta ex
         similique eaque maiores voluptatum sint fugiat facere delectus!</p>
    <a href="http://www.xxx.com" class="btn btn-primary btn-lg">Facebook de abraham</a>
</div>