<div class="jumbotron mt-4 bg-light">
    <h1 class="display-4">Appointment</h1>
    <p class="lead">Dentro de la plataforma Appointment puedes agendar tu cita con el o la estilista de una manera más cómoda.
        Puedes revisar los dias y horas disponibles con el profesional y elegir el dia disponible que mejor te convenga sin la 
        necesidad de llamar o estar a la espera de una respuesta por parte del prestador de servicio. <br>
        <br>
        Puedes <strong> iniciar sesión </strong> si es que ya estás registrado o puedes <strong> registrarte </strong> para hacer uso de esta increible herramienta.
    </p>
    <hr class="my-4">
    <p>Si quieres conocer el repositorio git del proyecto da clic en el siguiente botón.
    <a href="https://github.com/AbrahamRaGo/AppointmentWeb" class="btn btn-primary btn-sm">Code in GitHub</a>
</div>