<nav class="navbar navbar-expand-lg navbar-light rounded shadow">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Appointment</a>
            <ul class="navbar-nav me-auto mb2 mb-lg-0 ">
                <li class="nav-item">
                    <a href="/admin/calendar" class="text-dark nav-link">Citas</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/services" class="text-dark nav-link">Servicios</a>
                </li>
            </ul>
            <span class="navbar-text">
                Eduardo Castañeda
                <a href="/users/signin"><span class="fas fa-sign-out-alt ml-2"></span></a>
            </span>
        </div>
</nav>
